<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360592527678-8tq409i9cer6pctq8l0a0ig3unci50cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360592527678-8tq409i9cer6pctq8l0a0ig3unci50cp</string>
	<key>API_KEY</key>
	<string>AIzaSyBzzkOoKpjpiPpYx_RPpnmK4hBSswilg8k</string>
	<key>GCM_SENDER_ID</key>
	<string>360592527678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palko.Fit-Buddies</string>
	<key>PROJECT_ID</key>
	<string>fitbuddies-300bf</string>
	<key>STORAGE_BUCKET</key>
	<string>fitbuddies-300bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:360592527678:ios:71afef304567a853225c6f</string>
</dict>
</plist>
